
@model Employee
@{
    ViewBag.Title = "Add employee";
    ViewBag.Header = "Add an employee";
    }

<html xmlns="http://www.w3.org/1999/xhtml">
<head>


</head>
<body>
    <div>
        <form asp-controller="Employee">
            <label asp-for="Name"></label>
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
            <label asp-for="Email"></label>
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
            <br />
            <input type="submit" value="Add employee"/>
        </form>
    </div>

    @section scripts
    {
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
    }

</body>
</html>