@model EmployeeProject.Models.Employee[]


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>
    <nav>
    <a asp-controller="Employees" asp-action="Index">Home</a>
    <a asp-controller="Employees" asp-action="Create">Create employee</a>
    </nav>
    <h1>
        @ViewBag.Header
    </h1>
    @RenderBody()

    @RenderSection("scripts", false)

<footer>
   
    <p>Room 4 Coders &trade;</p>

</footer>
</body>
</html>
